---
- name: Set map fact
  ansible.builtin.set_fact:
    cilium_map:
      ca:
        hubble:
          certificate:
            common:
              name: hubble-common-certs
            root:
              name: hubble-root-certs
          cluster:
            issuer:
              name: hubble-cluster-issuer
      helm:
        chart:
          reference: '{{ cilium_vars.kubernetes.helm.repository.org }}/{{ cilium_vars.kubernetes.helm.chart.name }}'
        platform:
          key: https://github.com
          raw: https://raw.githubusercontent.com
        repository:
          name: '{{ cilium_vars.kubernetes.helm.repository.org }}/{{ cilium_vars.kubernetes.helm.repository.name }}'
          url: '{{ cilium_vars.kubernetes.helm.repository.url }}'
        timeout: 5m0s
      gateway:
        hubble:
          annotations: # cert-manager.io/cluster-issuer: cloudflare-cluster-issuer-staging
            cert-manager.io/cluster-issuer: '{{ externaldns_project.cloudflare.cluster.issuer }}'
        frontend:
          base_hostname: '{{ cilium_vars.kubernetes.gateway.frontend_base_domain }}'
          hostname: '{{ cilium_vars.kubernetes.gateway.frontend_domain }}'
          ingress: 'http://cilium-gateway-{{ cilium_vars.kubernetes.gateway.service }}.kube-system.svc.cluster.local:80'
        name: '{{ cilium_vars.kubernetes.gateway.service }}'
      metrics:
        enabled: true
        scrape:
          interval: 30s

- name: Set project fact
  ansible.builtin.set_fact:
    cilium_project:
      release:
        cli:
          file: '{{ cilium_vars.release.cli.version }}/{{ cilium_vars.release.cli.file }}'
          url: "{{
            '/'.join([cilium_map.helm.platform.key,
              cilium_vars.release.cli.repository.org,
              cilium_vars.release.cli.repository.name, 'releases', 'download'])
            }}"
        gateway_api:
          file: '{{ cilium_vars.release.gateway_api.version }}/{{ cilium_vars.release.gateway_api.file }}'
          url: "{{
            '/'.join([cilium_map.helm.platform.key,
              cilium_vars.release.gateway_api.repository.org,
              cilium_vars.release.gateway_api.repository.name, 'releases', 'download'])
            }}"
        hubble:
          file: '{{ cilium_vars.release.hubble.version }}/{{ cilium_vars.release.hubble.file }}'
          url: "{{
            '/'.join([cilium_map.helm.platform.key,
              cilium_vars.release.hubble.repository.org,
              cilium_vars.release.hubble.repository.name, 'releases', 'download'])
            }}"
      tag: '{{ cilium_vars.kubernetes.helm.chart.version }}'
      url: '{{ cilium_map.helm.platform.key }}/{{ cilium_map.helm.repository.name }}/releases/tag'

- name: Set resources fact
  ansible.builtin.set_fact:
    cilium_resources:
      release:
        - file: '{{ cilium_vars.release.cli.file }}'
          url: '{{ cilium_project.release.cli.url }}/{{ cilium_project.release.cli.file }}'
        - file: '{{ cilium_vars.release.hubble.file }}'
          url: '{{ cilium_project.release.hubble.url }}/{{ cilium_project.release.hubble.file }}'
