mirrors:
    
configs:
    "docker.io":
        auth:
            auth: "dmNoZW43NjI5OlplYmNpdHlvZmRvb20yNA=="
    "registry-1.docker.io":
        auth:
            auth: "dmNoZW43NjI5OlplYmNpdHlvZmRvb20yNA=="