apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # RBAC roles for each topic
  - rbac/category-classification-user.yaml
  - rbac/data-ingestion-user.yaml
  - rbac/post-embeddings-user.yaml
  - rbac/sentiment-analysis-user.yaml
  - rbac/topic-classification-user.yaml

  # network policies (egress)
  - network-policy/egress-to-host.yaml
  - network-policy/egress-to-kafka-brokers.yaml
  - network-policy/egress-to-kafka-operator.yaml
  - network-policy/egress-to-kube-dns.yaml
  - network-policy/egress-to-kubeapi-server.yaml

  # network policies (ingress)
  - network-policy/ingress-from-external.yaml
  - network-policy/ingress-from-kafka-cluster.yaml
  - network-policy/ingress-from-kafka-entity-operator.yaml
  - network-policy/ingress-from-kafka-exporter.yaml
  - network-policy/ingress-from-kafka.yaml
  - network-policy/ingress-from-kube-dns.yaml
  - network-policy/ingress-from-observability.yaml
  - network-policy/ingress-from-operator.yaml

  # kafka broker config
  - brokers/cyphria-broker.yaml

  # kafka cluster config
  - clusters/cyphria-cluster.yaml
  
  # topics config
  - topics/aggregated-dlq.yaml
  - topics/aggregated.yaml
  - topics/raw-data-dlq.yaml
  - topics/raw-data.yaml
  - topics/sentence-embeddings-dlq.yaml
  - topics/sentence-embeddings.yaml
  - topics/topic-classification-dlq.yaml
  - topics/topic-classification.yaml
