certmanager_vars:
  kubernetes:
    controller:
      replicas: 1
      resources:
        limits:
          cpu: null
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 128Mi
    helm:
      chart:
        name: cert-manager
        version: v1.19.1
      repository:
        url: https://charts.jetstack.io
    namespace: cert-manager
