---
vm_vars:
  kubernetes:
    helm:
      chart:
        name: victoria-metrics-k8s-stack
        version: "0.61.9"
      repository:
        name: victoriametrics
        url: https://victoriametrics.github.io/helm-charts/
    operator: # installs the operator crd
      enable: true
      resources:
        limits:
          cpu: null
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 128Mi
    vmsingle: # creates a single pod vm cluster (non-HA) crds
      enable: true
      retention_period: "14d" # keep metrics for 14 days before deleting
      storage: 40Gi # how much storage to allocate for vm
    alertmanager: # installs alertmanager crd
      enable: false
    vmalert: # Crd for defining alert rules
      enable: false
    vmagent: # agent for collecting metrics from sources
      enable: true
      spec:
        scrapeInterval: 30s
    grafana: 
      enable: true
      replicas: 1
      ingress:
        enable: false # enable this later to expose it to ingress for internet access
      admin:
        existingSecret: ""
        username: admin
        password: admin
      resources:
        limits:
          cpu: null
          memory: 256Mi
        requests:
          cpu: 10m
          memory: 256Mi
    prometheus_node_exporter:
      enable: true
      resources: 
        limits:
          cpu: null
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 128Mi
    kube_state_metrics:
      replicas: 1
      resources:
        limits:
          cpu: null
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 128Mi
    kubeEtcd: # this scrapes etcd
      enable: false
