apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cinesense-frontend-hpa
  namespace: frontend
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cinesense-frontend-deployment
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu 
        target: 
          type: Utilization
          averageUtilization: 70