- name: Role Facts
  ansible.builtin.include_role:
    name: '{{ role }}'
    tasks_from: facts
  loop:
    - external_dns
    - cilium
  loop_control:
    loop_var: role

- name: Include tunnel facts variables
  ansible.builtin.include_vars:
    file: "../roles/cloudflare_tunnel/credentials/temp.yaml"

- name: Set Account ID Fact
  vars:
    cloudflare_env_data: "{{ lookup('ansible.builtin.template', 'env.yaml' ) | from_yaml }}"
  ansible.builtin.set_fact:
    api_key: "{{ cloudflare_env_data['cloudflare-token'] }}"
    email: "{{ cloudflare_env_data['email'] }}"
    zone_id: "{{ cloudflare_env_data['zone-id'] }}"
    
- name: Deploy frontend crds (deployment, service, hpa, network-policies)
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('ansible.builtin.template', 'deploy_crds') | from_yaml }}"
    kubeconfig: /etc/rancher/k3s/k3s.yaml

- name: Deploy http Route for frontend connection
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('ansible.builtin.template', 'frontend-http-route.j2') | from_yaml }}"
    kubeconfig: /etc/rancher/k3s/k3s.yaml

- name: Deploy DNS Endpoint for external-dns
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('ansible.builtin.template', 'dns-endpoint.j2') | from_yaml }}"
    kubeconfig: /etc/rancher/k3s/k3s.yaml