- name: Role Facts
  ansible.builtin.import_role:
    name: bootstrap/k3s
    tasks_from: facts

- name: Role Reset
  when: inventory_hostname in k3s_map.server.hosts
  block:
    - name: Delete gateway
      kubernetes.core.k8s:
        api_version: gateway.networking.k8s.io/v1
        kind: Gateway
        name: '{{ cilium_vars.kubernetes.gateway.service }}'
        namespace: '{{ cilium_vars.kubernetes.namespace }}'
        state: absent
        kubeconfig: '{{ k3s_project.cluster.kubeconfig }}'
        wait: true
      ignore_errors: true

    - name: Delete loadbalancer IP pool
      kubernetes.core.k8s:
        api_version: cilium.io/v2alpha1
        kind: CiliumLoadBalancerIPPool
        name: '{{ cilium_vars.kubernetes.loadbalancer.ip_pool.name }}'
        state: absent
        kubeconfig: '{{ k3s_project.cluster.kubeconfig }}'
        wait: true
      ignore_errors: true

    - name: Uninstall Helm chart
      kubernetes.core.helm:
        name: '{{ cilium_vars.kubernetes.helm.chart.name }}'
        namespace: '{{ cilium_vars.kubernetes.namespace }}'
        state: absent
        kubeconfig: '{{ k3s_project.cluster.kubeconfig }}'
        wait: true
      ignore_errors: true

    - name: Remove repository
      kubernetes.core.helm_repository:
        name: '{{ cilium_vars.kubernetes.helm.repository.org }}'
        repo_state: absent
      when: "'helm' in ansible_facts.packages"
      ignore_errors: true

    - name: Remove binary files
      ansible.builtin.file:
        path: '{{ k3s_map.node.directory.bin }}/{{ item }}'
        state: absent
      loop:
        - cilium
        - hubble