---
apiVersion: v1
kind: Secret
metadata:
  name: tunnel-secret
  namespace: "cloudflare-tunnel-{{ cf_tunnel_name }}"
type: Opaque
stringData:
  tunnel-config.json: >
    {
      "AccountTag": "{{ account_tag }}",
      "TunnelSecret": "{{ tunnel_secret }}",
      "TunnelID": "{{ tunnel_id }}",
      "TunnelName": "{{ cf_tunnel_name }}"
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "cloudflared-{{ cf_tunnel_name }}"
  namespace: "cloudflare-tunnel-{{ cf_tunnel_name }}"
data:
  config.yaml: |
    logDirectory: /var/log/cloudflared
    tunnel: {{ tunnel_id }}
    credentials-file: /etc/cloudflared/tunnel-config.json
    protocol: http2
    edge-ip-version: "4"
    warp-routing:
      enabled: false
    ingress:
      - hostname: '{{ cf_tunnel_hostname }}'
        service: '{{ cf_tunnel_service }}'
{% if cf_tunnel_origin_request %}
        originRequest:
{% for key, value in cf_tunnel_origin_request.items() %}
          {{ key }}: {{ value | lower if value is boolean else value }}
{% endfor %}
{% endif %}
      - hostname: '*.{{ cf_tunnel_hostname }}'
        service: '{{ cf_tunnel_service }}'
      - service: http_status:404
