
- name: OS configuration
  hosts: cluster
  become: true
  gather_facts: true
  roles:
    - bootstrap/cluster
  tags: cluster

#- name: Provision Load Balancer
#  hosts: cluster
#  become: true
#  gather_facts: true

- name: k3s Provisioning
  hosts: cluster
  become: true
  gather_facts: true
  roles: 
    - bootstrap/k3s
    - bootstrap/helm
  serial:
    - 1
    - 2
    - 5
  tags: kubernetes

- name: ArgoCD deployed applications provisioning
  hosts: server
  become: true
  gather_facts: true
  post_tasks:
    - name: Perform post-install tasks
      ansible.builtin.include_role:
        name: '{{ postinstall }}'
        tasks_from: postinstall
      loop:
        - bootstrap/argocd
        - observability/metrics_server
        - networking/cilium
      loop_control:
        loop_var: postinstall
  roles: 
    - networking/cilium
    - security/network_policies
    - observability/victoria_metrics
    - bootstrap/argocd
    - observability/metrics_server
    - platform/cert_manager
    - networking/nginx
    - messaging/kafka
    - networking/cloudflare_tunnel
    - networking/external_dns
    - tenants/cyphria/frontend
  tags: charts