

- name: Charts Provisioning
  hosts: server
  become: true
  gather_facts: true
  post_tasks:
    - name: Perform post-install tasks
      ansible.builtin.include_role:
        name: '{{ postinstall }}'
        tasks_from: postinstall
      loop:
        - bootstrap/argocd
        - bootstrap/metrics_server
        - networking/cilium
      loop_control:
        loop_var: postinstall
  roles:
    - networking/cilium
    - bootstrap/argocd
    - cert_manager
    - networking/cloudflare_tunnel
    - external_dns
    - frontend
  tags: charts